In [1]:
# Modelando o 'churn'

In [3]:
# importando as bibliotecas

# tratamento de dados
import pandas as pd
import numpy as np

# visualização de dados
import matplotlib.pyplot as plt

# modelagem dos dados
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, GradientBoostingClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score

In [5]:
# carregando os dados
features = pd.read_csv('data/orange_small_train.data', sep='\t', na_filter=False)
outcome = pd.read_csv('data/orange_small_train_churn.labels', header=None)

In [6]:
# tamanho dos dados
features.shape

(50000, 230)

In [7]:
# primeiras linhas dos dados
features.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var221,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230
0,,,,,,1526,7,,,,...,oslk,fXVEsaq,jySVZNlOJy,,,xb3V,RAYp,F2FyR07IdsN7I,,
1,,,,,,525,0,,,,...,oslk,2Kb5FSF,LM8l689qOp,,,fKCe,RAYp,F2FyR07IdsN7I,,
2,,,,,,5236,7,,,,...,Al6ZaUT,NKv4yOc,jySVZNlOJy,,kG3k,Qu4f,02N6s8f,ib5G6X1eUxUn6,am7c,
3,,,,,,,0,,,,...,oslk,CE7uk3u,LM8l689qOp,,,FSa2,RAYp,F2FyR07IdsN7I,,
4,,,,,,1029,7,,,,...,oslk,1J2cvxe,LM8l689qOp,,kG3k,FSa2,RAYp,F2FyR07IdsN7I,mj86,

In [8]:
outcome.shape

(50000, 1)

In [9]:
outcome.head()

   0
0 -1
1  1
2 -1
3 -1
4 -1

In [10]:
# valores outcome
np.unique(outcome)

array([-1,  1], dtype=int64)

In [13]:
# todas as variaveis(nome)
all_vars = np.array(features.columns)
all_vars

array(['Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8',
       'Var9', 'Var10', 'Var11', 'Var12', 'Var13', 'Var14', 'Var15',
       'Var16', 'Var17', 'Var18', 'Var19', 'Var20', 'Var21', 'Var22',
       'Var23', 'Var24', 'Var25', 'Var26', 'Var27', 'Var28', 'Var29',
       'Var30', 'Var31', 'Var32', 'Var33', 'Var34', 'Var35', 'Var36',
       'Var37', 'Var38', 'Var39', 'Var40', 'Var41', 'Var42', 'Var43',
       'Var44', 'Var45', 'Var46', 'Var47', 'Var48', 'Var49', 'Var50',
       'Var51', 'Var52', 'Var53', 'Var54', 'Var55', 'Var56', 'Var57',
       'Var58', 'Var59', 'Var60', 'Var61', 'Var62', 'Var63', 'Var64',
       'Var65', 'Var66', 'Var67', 'Var68', 'Var69', 'Var70', 'Var71',
       'Var72', 'Var73', 'Var74', 'Var75', 'Var76', 'Var77', 'Var78',
       'Var79', 'Var80', 'Var81', 'Var82', 'Var83', 'Var84', 'Var85',
       'Var86', 'Var87', 'Var88', 'Var89', 'Var90', 'Var91', 'Var92',
       'Var93', 'Var94', 'Var95', 'Var96', 'Var97', 'Var98', 'Var99',
       'Var100', 'Var101', 'Var102', 'Var103', 'Var104', 'Var105',
       'Var106', 'Var107', 'Var108', 'Var109', 'Var110', 'Var111',
       'Var112', 'Var113', 'Var114', 'Var115', 'Var116', 'Var117',
       'Var118', 'Var119', 'Var120', 'Var121', 'Var122', 'Var123',
       'Var124', 'Var125', 'Var126', 'Var127', 'Var128', 'Var129',
       'Var130', 'Var131', 'Var132', 'Var133', 'Var134', 'Var135',
       'Var136', 'Var137', 'Var138', 'Var139', 'Var140', 'Var141',
       'Var142', 'Var143', 'Var144', 'Var145', 'Var146', 'Var147',
       'Var148', 'Var149', 'Var150', 'Var151', 'Var152', 'Var153',
       'Var154', 'Var155', 'Var156', 'Var157', 'Var158', 'Var159',
       'Var160', 'Var161', 'Var162', 'Var163', 'Var164', 'Var165',
       'Var166', 'Var167', 'Var168', 'Var169', 'Var170', 'Var171',
       'Var172', 'Var173', 'Var174', 'Var175', 'Var176', 'Var177',
       'Var178', 'Var179', 'Var180', 'Var181', 'Var182', 'Var183',
       'Var184', 'Var185', 'Var186', 'Var187', 'Var188', 'Var189',
       'Var190', 'Var191', 'Var192', 'Var193', 'Var194', 'Var195',
       'Var196', 'Var197', 'Var198', 'Var199', 'Var200', 'Var201',
       'Var202', 'Var203', 'Var204', 'Var205', 'Var206', 'Var207',
       'Var208', 'Var209', 'Var210', 'Var211', 'Var212', 'Var213',
       'Var214', 'Var215', 'Var216', 'Var217', 'Var218', 'Var219',
       'Var220', 'Var221', 'Var222', 'Var223', 'Var224', 'Var225',
       'Var226', 'Var227', 'Var228', 'Var229', 'Var230'], dtype=object)

In [16]:
# descrição do projeto as primeiras 190 variaveis são numericas
num_vars = np.array(all_vars[:190])
num_vars

array(['Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8',
       'Var9', 'Var10', 'Var11', 'Var12', 'Var13', 'Var14', 'Var15',
       'Var16', 'Var17', 'Var18', 'Var19', 'Var20', 'Var21', 'Var22',
       'Var23', 'Var24', 'Var25', 'Var26', 'Var27', 'Var28', 'Var29',
       'Var30', 'Var31', 'Var32', 'Var33', 'Var34', 'Var35', 'Var36',
       'Var37', 'Var38', 'Var39', 'Var40', 'Var41', 'Var42', 'Var43',
       'Var44', 'Var45', 'Var46', 'Var47', 'Var48', 'Var49', 'Var50',
       'Var51', 'Var52', 'Var53', 'Var54', 'Var55', 'Var56', 'Var57',
       'Var58', 'Var59', 'Var60', 'Var61', 'Var62', 'Var63', 'Var64',
       'Var65', 'Var66', 'Var67', 'Var68', 'Var69', 'Var70', 'Var71',
       'Var72', 'Var73', 'Var74', 'Var75', 'Var76', 'Var77', 'Var78',
       'Var79', 'Var80', 'Var81', 'Var82', 'Var83', 'Var84', 'Var85',
       'Var86', 'Var87', 'Var88', 'Var89', 'Var90', 'Var91', 'Var92',
       'Var93', 'Var94', 'Var95', 'Var96', 'Var97', 'Var98', 'Var99',
       'Var100', 'Var101', 'Var102', 'Var103', 'Var104', 'Var105',
       'Var106', 'Var107', 'Var108', 'Var109', 'Var110', 'Var111',
       'Var112', 'Var113', 'Var114', 'Var115', 'Var116', 'Var117',
       'Var118', 'Var119', 'Var120', 'Var121', 'Var122', 'Var123',
       'Var124', 'Var125', 'Var126', 'Var127', 'Var128', 'Var129',
       'Var130', 'Var131', 'Var132', 'Var133', 'Var134', 'Var135',
       'Var136', 'Var137', 'Var138', 'Var139', 'Var140', 'Var141',
       'Var142', 'Var143', 'Var144', 'Var145', 'Var146', 'Var147',
       'Var148', 'Var149', 'Var150', 'Var151', 'Var152', 'Var153',
       'Var154', 'Var155', 'Var156', 'Var157', 'Var158', 'Var159',
       'Var160', 'Var161', 'Var162', 'Var163', 'Var164', 'Var165',
       'Var166', 'Var167', 'Var168', 'Var169', 'Var170', 'Var171',
       'Var172', 'Var173', 'Var174', 'Var175', 'Var176', 'Var177',
       'Var178', 'Var179', 'Var180', 'Var181', 'Var182', 'Var183',
       'Var184', 'Var185', 'Var186', 'Var187', 'Var188', 'Var189',
       'Var190'], dtype=object)

In [18]:
cat_vars = np.array(all_vars[190:])
cat_vars

array(['Var191', 'Var192', 'Var193', 'Var194', 'Var195', 'Var196',
       'Var197', 'Var198', 'Var199', 'Var200', 'Var201', 'Var202',
       'Var203', 'Var204', 'Var205', 'Var206', 'Var207', 'Var208',
       'Var209', 'Var210', 'Var211', 'Var212', 'Var213', 'Var214',
       'Var215', 'Var216', 'Var217', 'Var218', 'Var219', 'Var220',
       'Var221', 'Var222', 'Var223', 'Var224', 'Var225', 'Var226',
       'Var227', 'Var228', 'Var229', 'Var230'], dtype=object)

In [19]:
# verificação das consistencias nos dados
# verificação das variaveis numericas
features[num_vars].describe()

              Var57        Var73        Var113
count  50000.000000  50000.00000  5.000000e+04
mean       3.512311     66.64108 -1.532786e+05
std        2.025882     52.85917  7.613730e+05
min        0.000214      4.00000 -9.803600e+06
25%        1.743164     24.00000 -1.827148e+05
50%        3.514741     52.00000  2.961542e+04
75%        5.264741    102.00000  1.474875e+05
max        7.000000    264.00000  9.932480e+06

In [20]:
features.dtypes

Var1      object
Var2      object
Var3      object
Var4      object
Var5      object
           ...
Var226    object
Var227    object
Var228    object
Var229    object
Var230    object
Length: 230, dtype: object

In [22]:
# verificação dos valores da variavel 1 'Var1'
var = features.groupby('Var1').size()
var

Var1
       49298
0        380
120        1
128        2
152        1
16        81
24        46
32        23
360        1
392        1
40        10
48         6
536        1
56         5
64         1
680        1
72         3
8        138
80         1
dtype: int64